<footer
  class="footer sm:footer-horizontal bg-base-200 text-[#1e7d2d] items-center p-4"
>
  <aside class="grid-flow-col items-center">
    <img
      src="./assets/logo.png"
      class="md:block hidden max-h-[90px] ml-[-70px] my-[-10px]"
      alt="redeuce-logo"
    />
    <div class="my-auto">
      <p class="font-semibold">Copyright © {{year}} - All right reserved</p>
    </div>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a
      href="https://www.instagram.com/redeuce_?igsh=MWdoOGhrN20zOGx3cA%3D%3D"
      target="_blank"
      class=" font-semibold"
    >
      <i class="text-lg fa-brands fa-instagram my-auto font-semibold"></i>
    </a>
  </nav>
</footer>
