<div class="bg-white/10 backdrop-blur-sm navbar shadow-sm">
  <div class="navbar-start">
    <div class="block md:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
        >
          <li><a>Features</a></li>
          <li><a>Impact</a></li>
          <li><a>Buy</a></li>
        </ul>
      </div>
    </div>
    <img
      src="./assets/logo.png"
      class="md:block hidden max-h-[90px] ml-[-70px] my-[-10px]"
      alt="redeuce-logo"
    />
  </div>
  <div class="navbar-center">
    <img
      src="./assets/logo.png"
      class="block md:hidden max-h-[90px] my-[-10px]"
      alt="redeuce-logo"
    />
  </div>
  <div class="navbar-end">
    <div class="hidden md:block">
      <ul class="menu menu-horizontal p-0">
        <li><a href="#features" class="text-lg font-semibold text-[#1e7d2d]">Features</a></li>
        <li><a href="#impact" class="text-lg font-semibold text-[#1e7d2d]">Impact</a></li>
        <li><a href="#buy" class="text-lg font-semibold text-[#1e7d2d]">Buy</a></li>
      </ul>
    </div>
  </div>
</div>
